body {
  background-color: #10232B;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #F6FEE1; }

button {
  cursor: pointer; }

.App {
  height: 100vh;
  display: flex;
  flex-direction: column; }
  .App .flex-container {
    display: flex;
    flex-grow: 1; }
    .App .flex-container > div {
      box-sizing: border-box; }
  .App .navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .App .navbar button {
      background-color: transparent;
      border: none;
      border-radius: 5px;
      color: #F6FEE1;
      font-size: 26px;
      padding: 5px 10px;
      margin: 10px; }
  .App .navbar-right {
    display: flex;
    align-items: center; }

.LoginScreen {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; }
  .LoginScreen .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .LoginScreen .buttons button {
      align-self: stretch;
      border-radius: 2px;
      font-size: 16px;
      margin: 10px;
      padding: 20px; }

.Messenger {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  max-width: 1000px;
  margin: 0 auto; }
  .Messenger .overlay {
    background-color: rgba(0, 0, 0, 0);
    transition: 250ms; }
    .Messenger .overlay.show {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.8); }
  .Messenger .messages {
    border: 1px solid #F6FEE1;
    border-radius: 5px;
    background-color: #F6FEE1;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100px; }
  .Messenger .message-input {
    display: flex;
    margin-top: 10px; }
    .Messenger .message-input button {
      padding: 10px 20px;
      background-color: #F6FEE1;
      border: none;
      border-radius: 0 5px 5px 0;
      color: #10232B;
      font-size: 16px; }
    .Messenger .message-input input {
      box-sizing: border-box;
      font-size: 20px;
      flex-grow: 1;
      padding: 10px;
      border-radius: 5px 0 0 5px;
      border: none; }
  .Messenger .message {
    max-width: 80%;
    border: 1px solid #234252;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 10px; }
    .Messenger .message.sender {
      background-color: #95AA66;
      color: #ffffff;
      text-align: right;
      align-self: flex-end; }
    .Messenger .message.recipient {
      background-color: #E2F0D7;
      color: #10232B;
      align-self: flex-start; }
  .Messenger h1 {
    text-align: center; }

.UserList {
  background-color: #95AA66;
  overflow: auto;
  padding: 0;
  position: absolute;
  height: 100vh;
  transition: 500ms;
  width: 300px;
  z-index: 1; }
  .UserList.open {
    left: 0; }
  .UserList.closed {
    left: -300px; }
  .UserList .search-bar {
    padding: 20px;
    border-bottom: 1px solid #F6FEE1;
    display: flex;
    justify-content: space-between; }
    .UserList .search-bar input {
      border: 1px solid #10232B;
      font-size: 14px;
      flex-grow: 1;
      padding: 5px;
      border-radius: 4px; }
    .UserList .search-bar button {
      background-color: transparent;
      border: none;
      color: #ffffff;
      font-size: 30px;
      margin-left: 10px; }
  .UserList .user {
    border-bottom: 1px solid #F6FEE1;
    cursor: pointer;
    padding: 20px; }
    .UserList .user.active {
      background-color: #BED588; }
    .UserList .user h4 {
      margin: 0; }
    .UserList .user p {
      font-weight: 100;
      font-size: 12px; }
