body {
  background: linear-gradient(#212121, #883997);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #ececec; }

button {
  cursor: pointer; }

input {
  background-color: #ececec;
  border: none; }

.center {
  text-align: center; }

.disabled {
  cursor: not-allowed; }

.fixed-fill {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-center-horiz {
  display: flex;
  align-items: center;
  flex-direction: column; }

.darken-bg {
  background-color: rgba(0, 0, 0, 0.9); }

.error {
  color: #ff0000; }

.App {
  height: 100vh;
  display: flex;
  flex-direction: column; }
  .App .flex-container {
    display: flex;
    flex-grow: 1; }
    .App .flex-container > div {
      box-sizing: border-box; }
  .App .navbar {
    align-items: center;
    display: flex;
    justify-content: center; }
    .App .navbar > div {
      width: 50%;
      flex-shrink: 1; }
    .App .navbar button {
      background-color: transparent;
      border: none;
      border-radius: 5px;
      color: #ececec;
      font-size: 26px;
      padding: 5px 10px;
      margin: 10px; }
  .App .navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end; }

.LoginScreen {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; }
  .LoginScreen .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .LoginScreen .buttons button {
      align-self: stretch;
      border-radius: 2px;
      font-size: 16px;
      margin: 10px;
      padding: 20px; }
  .LoginScreen .form-toggle {
    color: #80deea;
    cursor: pointer; }
  .LoginScreen .auth-form {
    max-width: 800px;
    margin: 0 auto; }
    .LoginScreen .auth-form form {
      width: 100%; }
    .LoginScreen .auth-form input {
      border: none;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 16px;
      margin: 5px;
      padding: 5px;
      width: 100%; }
    .LoginScreen .auth-form button {
      background-color: #4bacb8;
      border: 1px solid #ffffff;
      border-radius: 5px;
      box-sizing: border-box;
      color: #ffffff;
      font-size: 20px;
      margin: 5px;
      padding: 5px;
      width: 100%; }
      .LoginScreen .auth-form button:disabled, .LoginScreen .auth-form button.disabled {
        background-color: #b9dfe3; }

.Messenger {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }
  .Messenger .overlay {
    background-color: rgba(0, 0, 0, 0);
    transition: 250ms;
    z-index: 2; }
    .Messenger .overlay.show {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.8); }
  .Messenger .messages {
    border: 1px solid #ececec;
    border-radius: 5px;
    background-color: #ececec;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100px; }
  .Messenger .message-input {
    display: flex;
    margin-top: 10px; }
    .Messenger .message-input button {
      padding: 10px 20px;
      background-color: #4bacb8;
      border: none;
      border-radius: 0 5px 5px 0;
      color: #ffffff;
      font-size: 16px; }
    .Messenger .message-input input {
      box-sizing: border-box;
      font-size: 20px;
      flex-grow: 1;
      padding: 10px;
      border-radius: 5px 0 0 5px;
      border: none; }
    .Messenger .message-input .disabled {
      background-color: #dddddd;
      color: #cccccc;
      cursor: not-allowed; }
  .Messenger .display-date {
    color: #234252;
    font-size: 16px;
    text-align: center;
    display: flex;
    margin: 0 15px;
    align-items: center; }
    .Messenger .display-date span {
      margin: 0 15px; }
    .Messenger .display-date hr {
      flex-grow: 1;
      border-bottom: none;
      height: 0px; }
  .Messenger .message .time {
    color: #212121;
    font-size: 10px;
    margin: 0 5px; }
  .Messenger .message.sender {
    color: #ffffff;
    text-align: right;
    align-self: flex-end; }
  .Messenger .message.recipient {
    color: #212121;
    align-self: flex-start; }
  .Messenger .message .message-content {
    margin: 0 5px 10px;
    border-radius: 5px;
    border: 1px solid #234252;
    max-width: 80%;
    padding: 10px; }
    .Messenger .message .message-content.sender {
      background-color: #ba68c8;
      color: #ffffff;
      text-align: right; }
    .Messenger .message .message-content.recipient {
      background-color: #80deea;
      color: #212121; }
  .Messenger .typing-message {
    background-color: #ba68c8;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
    text-align: right;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: -40px;
    line-height: 30px;
    transition: 250ms;
    opacity: 0;
    z-index: 1; }
    .Messenger .typing-message.show {
      opacity: 0.9; }
  .Messenger h1 {
    font-size: 26px;
    text-align: center; }

.UserList {
  background-color: #4bacb8;
  overflow: auto;
  padding: 0;
  position: absolute;
  height: 100vh;
  transition: 500ms;
  width: 300px;
  z-index: 3; }
  .UserList.open {
    left: 0; }
  .UserList.closed {
    left: -300px; }
  .UserList .search-bar {
    padding: 20px;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between; }
    .UserList .search-bar input {
      font-size: 14px;
      flex-grow: 1;
      padding: 5px;
      border-radius: 4px; }
    .UserList .search-bar button {
      background-color: transparent;
      border: none;
      color: #ffffff;
      font-size: 30px;
      margin-left: 10px; }
  .UserList .user {
    border-bottom: 1px solid #ececec;
    cursor: pointer;
    padding: 20px;
    transition: 500ms; }
    .UserList .user.active {
      background-color: #ba68c8; }
    .UserList .user:hover {
      background-color: #ee98fb; }
    .UserList .user h4 {
      margin: 0; }
    .UserList .user p {
      font-weight: 100;
      font-size: 12px; }
