body {
  background: linear-gradient($dark, $primary-dark);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $light;
}

button {
  cursor: pointer;
}

input {
  background-color: $light;
  border: none;
}

.center {
  text-align: center;
}

.disabled {
  cursor: not-allowed;
}

.fixed-fill {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-horiz {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.darken-bg {
  background-color: rgba(0,0,0,0.9)
}

.error {
  background-color: lighten($error, 30%);
  border-radius: 4px;
  color: $error;
  font-weight: 200;
  padding: 5px;
  margin: 5px 0;
}
