$color-black: #234252;
$white: #ffffff;
$dark: #212121;
$primary-dark: #883997;
$primary: #ba68c8;
$primary-light: #ee98fb;
$secondary-dark: #4bacb8;
$secondary: #80deea;
$secondary-light: #b4ffff;
$light: #f5f5f5;
$disabled: #dddddd;
$disabled-text: #cccccc;
