.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .flex-container {
    display: flex;
    flex-grow: 1;
    & > div {
      box-sizing: border-box;
      padding: 30px;
    }
  }
  .navbar {
    position: fixed;
    width: 100%;
    text-align: right;
    button {
      margin: 10px;
    }
  }
}