.Messenger {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  max-width: 1000px;
  margin: 0 auto;
  .overlay {
    background-color: rgba(0,0,0,0);
    transition: 250ms;
    &.show {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0,0,0,0.8);
    }
  }
  .messages {
    border: 1px solid $light;
    background-color: $light;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    // firefox hack
    height: 100px;
  }
  .message-input {
    display: flex;
    margin-top: 10px;
    button {
      margin-left: 10px;
      padding: 10px 20px;
      background-color: $light;
      border: none;
      border-radius: 5px;
      color: $dark;
      font-size: 16px;
    }
    input {
      box-sizing: border-box;
      font-size: 20px;
      flex-grow: 1;
      padding: 10px;
    }
  }
  .message {
    max-width: 80%;
    border: 1px solid $color-black;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 10px;
    &.sender {
      background-color: $primary-dark;
      color: $white;
      text-align: right;
      align-self: flex-end;
    }
    &.recipient {
      background-color: $primary-light;
      color: $dark;
      align-self: flex-start;
    }
  }
  h1 {
    text-align: center;
  }
}