.UserList {
  background-color: $primary-dark;
  overflow: auto;
  padding: 0;
  position: absolute;
  height: 100vh;
  transition: 500ms;
  width: 300px;
  z-index: 3;
  &.open {
    left: 0;
  }
  &.closed {
    left: -300px;
  }
  .search-bar {
    padding: 20px;
    border-bottom: 1px solid $light;
    display: flex;
    justify-content: space-between;
    input {
      border: 1px solid $dark;
      font-size: 14px;
      flex-grow: 1;
      padding: 5px;
      border-radius: 4px;
    }
    button {
      background-color: transparent;
      border: none;
      color: $white;
      font-size: 30px;
      margin-left: 10px;
    }
  }
  .user {
    border-bottom: 1px solid $light;
    cursor: pointer;
    padding: 20px;
    &.active {
      background-color: $primary;
    }
    h4 {
      margin: 0;
    }
    p {
      font-weight: 100;
      font-size: 12px;
    }
  }
}
